* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 3rem 0 3rem 0;
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: #60b6fb;
    position: fixed;
    width: 100%;
    top: 0;
}

.home { 
    margin: auto 0;
}

a {
    color: #245f8c;
}

a:hover {
    color: #FFF1D0;
}

ul {
    display: flex;
    justify-content: right;
    align-items: right;
    list-style-type: none;
    margin-right: 2rem;
}

li {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    color: #245f8c;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: #ffc600;
    padding: 2rem 0 2rem 0;
}

h2{
    text-align: center;
    font-size: 2rem;
    color: #06229D;
    padding: 1rem;
}

.schritt {
    border: 2px dashed #06229D;
    border-radius: 0.5rem;
    background-color: #FFD200;
    width: 20rem;
    margin: auto;
    background-clip: content-box;
}
p {
    text-align: center;
    font-size: 1.0rem;
    color: #FFC600;
    padding: 1rem;
}

h3 {
    text-align: center;
    font-size: 1rem;
    color: #06229D;
    padding: 1rem;
}

h4 {
    text-align: center;
    color: #FFC600;
    font-size: 1.5rem;
    padding: 1rem;
}

input {
    width: 25%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #245f8c;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.btn {
    cursor: pointer;
    background-color: #60b6fb;
    color:  #FFF1D0;
    padding: 0.5rem;
    border: 3px solid #245f8c;
    border-radius: 0.5rem;
    border-color:#3866a3;
    border-top-color:#618dc6;
    border-left-color:#618dc6;
    border-bottom-color:black;
    border-right-color:black;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}

.btn:hover {
    background-color: #FFD200;
    color: #1E96FC;
}
.btn:active {
    color:  #FFF1D0;
    background-color: #1E96FC;
}
.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.icon {
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1.8rem;
    list-style-type: none;
}
.icon a:hover {
    color: #1360E2;
}
img{
    display: block;
    margin: 0 auto 2rem auto;
    text-align: center;
    border-radius: 0.5rem;
}

footer {
    background-color: #60B6FB;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer {
    display: flex;
    color: #245f8c;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
}
@keyframes spin { 
    10% { 
      transform: rotateZ(360deg);
    }
  }